props-capital-backend/package-lock.json
props-capital-frontend/package-lock.json
props-capital-frontend/package-lock.json


# Apple Files
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor Configuration  Files
.zed
.vscode
